<!DOCTYPE html>
<html>
<head>
    <title>Universal React App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="/dist/main.css" />
</head>
<body>
<div id="app"><%= content %></div>

<script type="text/javascript" id="preloadedState">window.__PRELOADED_STATE__ = <%= JSON.stringify(state).replace(/</g, '\\u003c') %></script>
<script type="text/javascript" src="/dist/bundle.js"></script>
</body>
</html>